<link rel="stylesheet" href="static/style.css">
<div class="container">
    <div class="card">
        <div class="row">
            <h1>Weather in {{ city }}</h1>
            <div class="col-9 left">
                <div class="row top">
                </div>
                <div class="row">
                    <div class="col-8 temp">{{ temperature }}°</div>
                    <div class="col-5 time"><p>Humidity: {{ humidity }}</p><h2><b>{{day_name}}</b></h2><p>{{weather_type}}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
